<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameEditorStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameEditorStudio.Properties.Settings>
            <setting name="ToSVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastWorkshop" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="FullscreenGESOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentWorkshops" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowRecentWorkshops" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectLoadSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkshopLoadSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoadLastProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolsFolder" serializeAs="String">
                <value />
            </setting>
        </GameEditorStudio.Properties.Settings>
    </userSettings>
</configuration>